### ANÁLISE DE DADOS

In [3]:
import pandas as pd

In [5]:
deputados = pd.read_csv("db/db_lista_de_deputados.csv", sep=',')
gastos = pd.read_csv("db/db_lista_total_gastos.csv", sep=',')

In [45]:
merge = pd.merge(gastos,deputados, how='left',on='id')
merge.loc[merge['valorDocumento']==-1849.82000]

count    314339.000000
mean        763.080516
std        2144.052090
min       -6605.570000
25%          50.000000
50%         187.050000
75%         673.790000
max      172000.000000
Name: valorDocumento, dtype: float64

In [71]:
merge.describe()

,ano,mes,valorDocumento,cnpjCpfFornecedor,valorLiquido,valorGlosa,id
count,314339.000000,314339.000000,314339.000000,3.143390e+05,314339.000000,314339.000000,314339.000000
mean,2019.142076,6.016078,763.080516,1.360982e+13,758.060092,3.560971,166044.725946
std,0.349129,3.320309,2144.052090,1.804330e+13,2119.124627,169.079563,45459.128475
min,2019.000000,1.000000,-6605.570000,0.000000e+00,-6605.570000,0.000000,66179.000000
25%,2019.000000,3.000000,50.000000,2.012862e+12,50.000000,0.000000,141553.000000
50%,2019.000000,6.000000,187.050000,7.575651e+12,184.640000,0.000000,178931.000000
75%,2019.000000,9.000000,673.790000,1.789565e+13,667.265000,0.000000,204448.000000
max,2020.000000,12.000000,172000.000000,9.867066e+13,145140.000000,86000.000000,213274.000000

In [72]:
merge.loc[merge['valorDocumento']==-6605.570000]

,ano,mes,tipoDespesa,tipoDocumento,valorDocumento,nomeFornecedor,cnpjCpfFornecedor,valorLiquido,valorGlosa,id,nome,siglaPartido,ufLegislacao,email,escolaridade,dataNascimento,sexo,estadoNascimento,cidadeNascimento
259857,2019,9,EMISSÃO BILHETE AÉREO,Nota Fiscal,-6605.57,CIA AÉREA - GOL,7575651000159,-6605.57,0.0,74554,JOSÉ ROCHA,PL,BA,DEP.JOSEROCHA@CAMARA.LEG.BR,PÓS-GRADUAÇÃO,1948-08-18,M,BA,CORIBE