### ANÁLISE DE DADOS

In [3]:
import pandas as pd

In [5]:
deputados = pd.read_csv("db/db_lista_de_deputados.csv", sep=',')
gastos = pd.read_csv("db/db_lista_total_gastos.csv", sep=',')

In [45]:
merge = pd.merge(gastos,deputados, how='left',on='id')
merge.loc[merge['valorDocumento']==-1849.82000]

count    314339.000000
mean        763.080516
std        2144.052090
min       -6605.570000
25%          50.000000
50%         187.050000
75%         673.790000
max      172000.000000
Name: valorDocumento, dtype: float64

In [68]:
merge.DESCI

,ano,mes,valorDocumento,cnpjCpfFornecedor,valorLiquido,valorGlosa,id
count,12193.000000,12193.000000,12193.000000,1.219300e+04,12193.000000,12193.000000,12193.000000
mean,2019.131469,6.486919,18.658027,1.789565e+13,18.239496,0.418531,185188.974822
std,0.337926,3.315885,16.216899,0.000000e+00,16.071329,0.834565,35611.843696
min,2019.000000,1.000000,3.630000,1.789565e+13,2.200000,0.000000,66828.000000
25%,2019.000000,3.000000,9.140000,1.789565e+13,8.820000,0.000000,178929.000000
50%,2019.000000,6.000000,13.870000,1.789565e+13,13.520000,0.000000,204433.000000
75%,2019.000000,9.000000,23.110000,1.789565e+13,22.760000,1.000000,204513.000000
max,2020.000000,12.000000,325.740000,1.789565e+13,306.880000,23.740000,205865.000000

In [70]:
merge.loc[merge['valorDocumento']==325.740000]

,ano,mes,tipoDespesa,tipoDocumento,valorDocumento,nomeFornecedor,cnpjCpfFornecedor,valorLiquido,valorGlosa,id,nome,siglaPartido,ufLegislacao,email,escolaridade,dataNascimento,sexo,estadoNascimento,cidadeNascimento
192339,2019,12,"SERVIÇO DE TÁXI, PEDÁGIO E ESTACIONAMENTO",Recibos/Outros,325.74,UBER DO BRASIL TECNOLOGIA LTDA.,17895646000187,306.88,18.86,204516,ALEXIS FONTEYNE,NOVO,SP,DEP.ALEXISFONTEYNE@CAMARA.LEG.BR,PÓS-GRADUAÇÃO,1967-08-19,M,SP,CAMPINAS
232725,2020,1,TELEFONIA,Nota Fiscal,325.74,CELULAR FUNCIONAL,1,325.74,0.00,161550,EMIDINHO MADEIRA,PSB,MG,DEP.EMIDINHOMADEIRA@CAMARA.LEG.BR,ENSINO FUNDAMENTAL,1967-03-10,M,MG,NOVA RESENDE